<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <div class="row" th:fragment="content">
        <div class="well bs-component">
            <form th:action="@{/tasks/create(projectId=${project.id})}" method="POST" class="form-horizontal">
                <fieldset>
                    <legend>Legend</legend>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">T&iacute;tulo</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="title" name="title" placeholder="T&iacute;tulo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-lg-2 control-label">Desri&ccedil;&atilde;o</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="description" name="description" placeholder="Desri&ccedil;&atilde;o" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a class="btn btn-default" th:href="@{/projects}">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>