<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="shared/layout :: layout">

<head>
</head>

<body>
    <div class="row" th:fragment="content">
        <h4>Remover</h4>
        <div class="alert alert-dismissible alert-warning">
        	<button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Aten&ccedil;&atilde;o!</h4>
            <p>Essa opera&ccedil;&atilde;o ir&aacute; remover a tarefa e n&atilde;o poder&aacute; ser revertida.</p>
        </div>
		<dl class="dl-horizontal">
			<dt>T&iacute;tulo</dt>
			<dd th:text="${task.title}"></dd>
			<dt>Situa&ccedil;&atilde;o</dt>
			<dd th:text="${task.status}"></dd>
			<dt th:if="${task.status == T(com.ontime.model.TaskStatus).CLOSED}">Fechada por</dt>
			<dd th:if="${task.status == T(com.ontime.model.TaskStatus).CLOSED}" th:text="${task.closedBy != null} ? ${task.closedBy.name}"></dd>
			<dt th:if="${task.status == T(com.ontime.model.TaskStatus).CLOSED}">Fechada em</dt>
			<dd th:if="${task.status == T(com.ontime.model.TaskStatus).CLOSED}" th:text="${task.closedAt}"></dd>
			<dt>Respons&aacute;vel</dt>
			<dd th:text="${task.assignedTo != null} ? ${task.assignedTo.name}"></dd>
			<dt>Criada por</dt>
			<dd th:text="${task.createdBy.name}"></dd>
			<dt>Criada em</dt>
			<dd th:text="${task.createdAt}"></dd>
			<dt>Descri&ccedil;&atilde;o</dt>
			<dd th:text="${task.description}"></dd>
		</dl>
        <form class="form-horizontal" th:action="@{/projects/{projectId}/tasks/{taskId}/remove(projectId=${projectId},taskId=${taskId})}" method="POST">
            <div class="form-group">
                <div class="col-lg-12">
                    <a class="btn btn-link" th:href="@{/projects/{projectId}/tasks(projectId=${projectId})}">Voltar</a>
                    <button type="submit" class="btn btn-danger">Remover</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>