<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout">

<head>
	<title>Ontime</title>
	<!-- styles -->
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/united-bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/selectize.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/selectize.bootstrap3.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/site.css}" />
</head>

<body>
	<div class="container">
		<div th:include="this :: content"></div>
	</div>
	<footer th:replace="shared/footer :: footer"></footer>
	<!-- scripts -->
	<script type="text/javascript" th:src="@{/resources/js/jquery-3.1.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/selectize.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/pusher.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/site.js}"></script>
	<script type="text/javascript" th:include="this :: script"></script>
</body>

</html>