<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="account/layout :: layout">

<head>
</head>

<body>
	<div th:fragment="content">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-centered">
				<div class="row text-center">
					<h1>ontime</h1>
					<h4>Criar uma conta para poder usar</h4>
				</div>
				<div class="panel panel-default no-margin margin-top" style="margin-top: 10px">
					<div class="panel-body">
						<form class="form-horizontal" th:action="@{/account/register}" method="POST" th:object="${user}">
							<p style="color: red" th:text="${message}"></p>
							<div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
								<div class="col-md-12">
									<label for="name" class="control-label">Nome</label>
									<input type="text" class="form-control" th:field="*{name}" />
									<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('email')}? has-error">
								<div class="col-md-12">
									<label for="email" class="control-label">E-mail</label>
									<input type="text" class="form-control" th:field="*{email}" />
									<span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('password')}? has-error">
								<div class="col-md-12">
									<label for="password" class="control-label">Senha</label>
									<input type="password" class="form-control" th:field="*{password}" />
									<span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('github')}? has-error">
								<div class="col-md-12">
									<label for="github" class="control-label">GitHub</label>
									<input type="text" class="form-control" th:field="*{github}" />
									<span class="help-block" th:if="${#fields.hasErrors('github')}" th:errors="*{github}"></span>
									<span class="help-block">e.g. https://github.com/leonaascimento</span>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<input type="submit" value="Criar" class="btn btn-primary" style="width: 100%" />
								</div>
							</div>
						</form>
						<div class="text-center">
							<a th:href="@{/account/login}">J&aacute; tenho uma conta</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>