<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="shared/layout :: layout">

<head>
</head>

<body>
	<div th:fragment="content">
		<h4>Detalhes</h4>
		<dl class="dl-horizontal">
			<dt>Nome</dt>
			<dd th:text="${project.name}"></dd>
			<dt>Linguagem</dt>
			<dd th:text="${project.language}"></dd>
			<dt>Tags</dt>
			<dd th:text="${project.tags}"></dd>
			<dt>Url</dt>
			<dd><a th:href="${project.url}" th:text="${project.url}"></a></dd>
			<dt>Criado por</dt>
			<dd th:text="${project.createdBy.name}"></dd>
			<dt>Criado em</dt>
			<dd th:text="${#calendars.format(project.createdAt, 'dd/MM/yyyy HH:mm')}"></dd>
			<dt>Descri&ccedil;&atilde;o</dt>
			<dd th:text="${project.description}"></dd>
		</dl>
		<a class="btn btn-link" th:href="@{/projects}">Voltar</a>
	</div>
</body>

</html>