<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="shared/layout :: layout">

<head>
</head>

<body>
	<div th:fragment="content">
		<h2 th:text="${project.name}"></h2>
		<dl class="dl-horizontal">
			<dt>Nome</dt>
			<dd th:text="${project.name}"></dd>
			<dt>Descri&ccedil;&atilde;o</dt>
			<dd th:text="${project.description}"></dd>
			<dt>Linguagem</dt>
			<dd th:text="${project.language}"></dd>
		</dl>
		<a class="btn btn-link" th:href="@{/projects}">Voltar</a>
	</div>
</body>

</html>