<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="shared/layout :: layout">

<head>
</head>

<body>
	<div th:fragment="content">
		<a th:href="@{/projects/create}" class="btn btn-primary">Adicionar Projeto</a>
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Linguagem</th>
					<th>Descri&ccedil;&atilde;o</th>
					<th></th>
				</tr>
			</thead>
			<th:block th:each="project : ${projects}">
				<tr>
					<td th:text="${project.name}"></td>
					<td th:text="${project.language}"></td>
					<td th:text="${project.description}"></td>
					<td>
						<div class="btn-group">
							<a th:href="@{/projects/details(id=${project.id})}" class="btn btn-default btn-sm">Abrir</a>
							<a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/projects/edit(id=${project.id})}">Editar</a></li>
								<li><a th:href="@{/projects/remove(id=${project.id})}">Remover</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</th:block>
		</table>
	</div>
</body>

</html>