<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="shared/layout :: layout">

<head>
</head>

<body>
    <div class="row" th:fragment="content">
        <h4>Remover</h4>
		<dl class="dl-horizontal">
			<dt>Nome</dt>
			<dd th:text="${project.name}"></dd>
			<dt>Linguagem</dt>
			<dd th:text="${project.language}"></dd>
			<dt>Tags</dt>
			<dd th:text="${project.tags}"></dd>
			<dt>Url</dt>
			<dd th:text="${project.url}"></dd>
			<dt>Criado por</dt>
			<dd th:text="${project.createdBy.name}"></dd>
			<dt>Criado em</dt>
			<dd th:text="${#calendars.format(project.createdAt, 'dd/MM/yyyy HH:mm')}"></dd>
			<dt>Descri&ccedil;&atilde;o</dt>
			<dd th:text="${project.description}"></dd>
		</dl>
        <form class="form-horizontal" th:action="@{/projects/{projectId}/remove(projectId=${project.id})}" method="POST">
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a class="btn btn-link" th:href="@{/projects}">Cancelar</a>
                    <button type="submit" class="btn btn-danger">Remover</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>